@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    --panel-back: #141629;
    --panel-stroke: #222544;
    --main-back: #070a1b;
    --main-text-color: #fff;
    --secondary-text-color: #a0a5d0;
    --input-color: #22233e;
    --accent-color: #166ef1;
    --button-hover: #262746;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
    background: var(--main-back);
}

.side-nav {
    /* background: var(--panel-back); */
}
.secondary-text-color{
    color: var(--secondary-text-color);
}

#side-nav{
    background-color: var(--panel-back);
    border-right: 1px solid var(--panel-stroke);
    box-shadow: 1px 0px 0px #000000;
}

#resource-panel {
    background: var(--panel-back);
    border-right: 1px solid var(--panel-stroke);
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-size: medium;
}
#container  {
    left:10px;
    top:10px;
    right:10px;
    bottom:10px;
    position:absolute;
    display:flex;
    overflow:hidden;
}
.app
{
    display:flex;
    flex-direction: column;
    flex-grow:1;
}

.header
{
    margin:2px;
    display: flex;
    align-items:center;
}

.contents
{
    display:flex;
    flex-grow:1;
    position:relative;
    border:1px solid gray;
}